body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ffff;
    line-height: 1.6;
    margin: 0;
    width: 100%;
    background: url(../img/fon_3.jpg) center;
    background-size: cover;
    padding: 20px;
}


*, *:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/*Intro*/

.intro {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
}

.intro__title {
    font-family: 'Kaushan Script', cursive;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
}

.intro__title:after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    margin: 60px auto;
    
    background-color: #333;
}

.intro__inner {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

/*Header*/

.header {
    padding-top: 30px;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header__inner {
    justify-content: space-between;
    align-items: center;
    display: flex;    
}

.header__logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffff;
}

/*Navigate*/

.menu-list {
    font-size: 15px;
    text-transform: uppercase;
}

.navigate__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #ffff;
    text-decoration: none;
    position: relative;

    transition: color 0.1s linear;
}

.navigate__link:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #ff0000;
    opacity: 0;
    
    
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity 0.1s linear;
}

.navigate__link:hover {
    color: #ff0000;
}

.navigate__link:hover:after {
    opacity: 1;
}

/*Slider*/

.slider {
    display:inline-flex;
    
    
}

.slider_item {
    width: 220px;
    font-weight: 600;
}

.follow {
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Button*/

.btn {
    display: flex;
    vertical-align: top;
    padding: 5px 60px;
    
    border: 3px solid #fff;
    
    font-size: 11px;
    font-weight: 700;
    color: #ffff;
    text-decoration: none;
    max-height: 40px;
    
    transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover {
    background-color: rgba(255, 255, 255, .8);
    color: #ff0000;
}

.title__name {
    font-family: 'Big Shoulders Inline Text', cursive;
    font-size: 60px;
    font-weight: 700;
    color: #ff0000;
    padding: 40px 0;
    text-align: center;
    
}
.nemo .title__name {
    color: blue;
}

.princess .title__name {
    color: pink;
}
.cars .title__name {
    color: white;
}
.winni .title__name {
    color: yellow;
}
.pnf .title__name {
    color: green;
}





                    /*                      LEFT                    */




.container__mikki__one__left,
.container__mikki__two__left,
.container__princess__one__left,
.container__princess__two__left,
.container__princess__three__left,
.container__cars__one__left,
.container__cars__two__left,
.container__cars__three__left,
.container__cars__four__left,
.container__winni__one__left,
.container__winni__two__left,
.container__nemo__one__left,
.container__nemo__two__left,
.container__nemo__three__left,
.container__nemo__four__left,
.container__pnf__one__left {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.container__mikki__one__left__text,
.container__mikki__two__left__text,
.container__princess__one__left__text,
.container__princess__two__left__text,
.container__princess__three__left__text,
.container__cars__one__left__text,
.container__cars__two__left__text,
.container__cars__three__left__text,
.container__cars__four__left__text,
.container__winni__one__left__text,
.container__winni__two__left__text,
.container__winni__three__left__text,
.container__nemo__one__left__text,
.container__nemo__two__left__text,
.container__nemo__three__left__text,
.container__nemo__four__left__text,
.container__pnf__one__left__text,
.container__pnf__two__left__text,
.container__mikki__one__center__text,
.container__mikki__two__center__text,
.container__mikki__three__center__text,
.container__princess__one__center__text,
.container__princess__two__center__text,
.container__princess__three__center__text,
.container__princess__four__left__text,
.container__cars__one__center__text,
.container__cars__two__center__text,
.container__cars__three__center__text,
.container__cars__four__center__text,
.container__winni__one__center__text,
.container__winni__two__center__text,
.container__nemo__one__center__text,
.container__nemo__two__center__text,
.container__nemo__three__center__text,
.container__nemo__four__center__text,
.container__pnf__one__center__text,
.container__mikki__one__right__text,
.container__mikki__two__right__text,
.container__princess__one__right__text,
.container__princess__two__right__text,
.container__princess__three__right__text,
.container__princess__four__right__text,
.container__cars__one__right__text,
.container__cars__two__right__text,
.container__cars__three__right__text,
.container__cars__four__right__text,
.container__winni__one__right__text,
.container__winni__two__right__text,
.container__winni__three__right__text,
.container__nemo__one__right__text,
.container__nemo__two__right__text,
.container__nemo__three__right__text,
.container__nemo__four__right__text,
.container__pnf__one__right__text,
.container__pnf__two__right__text {
    font-family: 'Inconsolata', monospace;
    color: #666;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    background:rgba(255,255,255, 0.8);
    padding:20px;
    display:none;
}

.container__mikki__one__left:hover .container__mikki__one__left__text,
.container__mikki__two__left:hover .container__mikki__two__left__text,
.container__princess__one__left:hover .container__princess__one__left__text,
.container__princess__two__left:hover .container__princess__two__left__text,
.container__princess__three__left:hover .container__princess__three__left__text,
.container__cars__one__left:hover .container__cars__one__left__text,
.container__cars__two__left:hover .container__cars__two__left__text,
.container__cars__three__left:hover .container__cars__three__left__text,
.container__cars__four__left:hover .container__cars__four__left__text,
.container__winni__one__left:hover .container__winni__one__left__text,
.container__winni__two__left:hover .container__winni__two__left__text,
.container__winni__three__left:hover .container__winni__three__left__text,
.container__nemo__one__left:hover .container__nemo__one__left__text,
.container__nemo__two__left:hover .container__nemo__two__left__text,
.container__nemo__three__left:hover .container__nemo__three__left__text,
.container__nemo__four__left:hover .container__nemo__four__left__text,
.container__pnf__one__left:hover .container__pnf__one__left__text,
.container__pnf__two__left:hover .container__pnf__two__left__text,
.container__mikki__one__center:hover .container__mikki__one__center__text,
.container__mikki__two__center:hover .container__mikki__two__center__text,
.container__mikki__three__center:hover .container__mikki__three__center__text,
.container__princess__one__center:hover .container__princess__one__center__text,
.container__princess__two__center:hover .container__princess__two__center__text,
.container__princess__three__center:hover .container__princess__three__center__text,
.container__princess__four__left:hover .container__princess__four__left__text,
.container__cars__one__center:hover .container__cars__one__center__text,
.container__cars__two__center:hover .container__cars__two__center__text,
.container__cars__three__center:hover .container__cars__three__center__text,
.container__cars__four__center:hover .container__cars__four__center__text,
.container__winni__one__center:hover .container__winni__one__center__text,
.container__winni__two__center:hover .container__winni__two__center__text,
.container__nemo__one__center:hover .container__nemo__one__center__text,
.container__nemo__two__center:hover .container__nemo__two__center__text,
.container__nemo__three__center:hover .container__nemo__three__center__text,
.container__nemo__four__center:hover .container__nemo__four__center__text,
.container__pnf__one__center:hover .container__pnf__one__center__text,
.container__mikki__one__right:hover .container__mikki__one__right__text,
.container__mikki__two__right:hover .container__mikki__two__right__text,
.container__princess__one__right:hover .container__princess__one__right__text,
.container__princess__two__right:hover .container__princess__two__right__text,
.container__princess__three__right:hover .container__princess__three__right__text,
.container__princess__four__right:hover .container__princess__four__right__text,
.container__cars__one__right:hover .container__cars__one__right__text,
.container__cars__two__right:hover .container__cars__two__right__text,
.container__cars__three__right:hover .container__cars__three__right__text,
.container__cars__four__right:hover .container__cars__four__right__text,
.container__winni__one__right:hover .container__winni__one__right__text,
.container__winni__two__right:hover .container__winni__two__right__text,
.container__winni__three__right:hover .container__winni__three__right__text,
.container__nemo__one__right:hover .container__nemo__one__right__text,
.container__nemo__two__right:hover .container__nemo__two__right__text,
.container__nemo__three__right:hover .container__nemo__three__right__text,
.container__nemo__four__right:hover .container__nemo__four__right__text,
.container__pnf__one__right:hover .container__pnf__one__right__text,
.container__pnf__two__right:hover .container__pnf__two__right__text{
     display: block;
}


                      /*                       CENTER                  */






.container__mikki__one__center,
.container__mikki__two__center,
.container__princess__one__center,
.container__princess__two__center,
.container__princess__three__center,
.container__cars__one__center,
.container__cars__two__center,
.container__cars__three__center,
.container__cars__four__center,
.container__winni__one__center,
.container__winni__two__center,
.container__nemo__one__center,
.container__nemo__two__center,
.container__nemo__three__center,
.container__nemo__four__center,
.container__pnf__one__center {
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
}



                   /*                            RIGHT                    */

.container__mikki__one__right,
.container__mikki__two__right,
.container__princess__one__right,
.container__princess__two__right,
.container__princess__three__right,
.container__cars__one__right,
.container__cars__two__right,
.container__cars__three__right,
.container__cars__four__right,
.container__winni__one__right,
.container__winni__two__right,
.container__nemo__one__right,
.container__nemo__two__right,
.container__nemo__three__right,
.container__nemo__four__right,
.container__pnf__one__right {
    display: inline-block;
    position: relative;
}



/*                       SOME WHICH LEFT                */

/* для кантинки центра низа */
.container__mikki__three__center {
    display: inline-block;
    left: 35.30%;
    position: relative;
}

.container__princess__four__left {
    display: inline-block;
    margin: 0 70px 60px 275px;
    position: relative;
}

.container__princess__four__right {
    display: inline-block;
    margin: 0 40px 0 10px;
    position: relative;
}

.container__winni__three__left {
    display: inline-block;
    margin: 0 70px 60px 300px;
    position: relative;
}


.container__winni__three__right {
    display: inline-block;
    margin: 0 40px 0 0;  
    position: relative;
}

.container__pnf__two__left {
    display: inline-block;
    margin: 0 70px 60px 300px;
    position: relative;
}


.container__pnf__two__right {
    display: inline-block;
    margin: 0 40px 0 0;
    position: relative;
}



.follow {
    padding: 20px; 
    border-radius: 15px;
}

.follow input {
    width: 400px;
    margin: 35px;
    height: 50px;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    border-top: none; border-left: none; border-right: none; 
    font-family: "Euclid Flex Trial", sans-serif;
    font-size: large; 
    outline: none; 
    color: #fff;
}



@media (max-width: 1462px) {
    .container__mikki__one__right,
    .container__princess__one__right,
    .container__princess__three__right {
        margin-left: 40px;
        margin-right: 20px;
    }    
    .container__princess__three__left {
        margin-left: 43px;
    }
    .container__princess__four__left {
        margin-left: 40px;
    }
    .container__mikki__two__center,
    .container__princess__two__center {
        margin-left: 40px;
    }
    .container__mikki__three__center,
    .container__mikki__three__center{
        display: flex;
    }

}
/* Для планш */

@media (max-width: 1210px) {

    
    .slider {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    
    .slider .btn {
        display: inline-block;
        
        text-align: center;
        width: 250px;
    }
    
}

@media (max-width: 1040px) {
    .container__mikki__two__right {
        font-size: 9px;
    }
    .container__mikki__one__left,
    .container__mikki__two__left,
    .container__princess__one__left,
    .container__princess__two__left,
    .container__princess__three__left,
    .container__cars__one__left,
    .container__cars__two__left,
    .container__cars__three__left,
    .container__cars__four__left,
    .container__winni__one__left,
    .container__winni__two__left,
    .container__nemo__one__left,
    .container__nemo__two__left,
    .container__nemo__three__left,
    .container__nemo__four__left,
    .container__pnf__one__left,
    .container__mikki__one__center,
    .container__mikki__two__center,
    .container__princess__one__center,
    .container__princess__two__center,
    .container__princess__three__center,
    .container__cars__one__center,
    .container__cars__two__center,
    .container__cars__three__center,
    .container__cars__four__center,
    .container__winni__one__center,
    .container__winni__two__center,
    .container__nemo__one__center,
    .container__nemo__two__center,
    .container__nemo__three__center,
    .container__nemo__four__center,
    .container__pnf__one__center,
    .container__mikki__one__right,
    .container__mikki__two__right,
    .container__princess__one__right,
    .container__princess__two__right,
    .container__princess__three__right,
    .container__cars__one__right,
    .container__cars__two__right,
    .container__cars__three__right,
    .container__cars__four__right,
    .container__winni__one__right,
    .container__winni__two__right,
    .container__nemo__one__right,
    .container__nemo__two__right,
    .container__nemo__three__right,
    .container__nemo__four__right,
    .container__pnf__one__right {
        display: inline-table;
        margin-right: 25%;
        margin-left: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container__mikki__three__center {
        display: inline-table;
        margin-right: 70%;
    }
    .container__princess__four__left,
     .container__princess__four__right,
    .container__winni__three__left,
    .container__pnf__two__left {
        display: inline-table;
        margin-left: 100px;
        left: 15%;
    }
    .container__princess__four__right,
    .container__winni__three__right,
    .container__pnf__two__right {
        display: inline-table;
        margin-left: 100px;
        left: 15%;
         margin-top: -30px;
    }
    
}

/* Для тлф */

@media (max-width: 700px) {
    .slider {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .slider .btn {
        display: inline-block;
        width: 250px;
    }
    
}

@media (max-width: 880px) {
    .intro__title {
        font-size: 25px;
    }
}

/* Burger menu */

@media (max-width: 730px) {
    
    
    .menu {
        position: fixed; 
        right: 0;top: 0; 
        z-index: 9; 
        width: 40%; 
        height: 100vh; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        background-color: #333;
        transition: 0.5s; 
        transform: translateX(100%); 
    }

    /* Анимация меню */
    .menu-active {
        transform: translateX(0%);
    }

   
    .menu-list {
        display: flex;
        justify-content: space-around; 
        height: 50%; 
        flex-direction: column; 
    }

    .menu-list a {
        text-transform: uppercase;
    }
    
    .menu-btn {
        width: 50px; 
        height: 50px;
        background-color: #333; 
        position: absolute; 
        border-radius: 50%; 
        left: -100px; 
        top: 10px;
        box-shadow: 0 0 17px 0.5px black; 
    }

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -10px;
        width: 20px;
        height: 2.5px;
        background-color: #fff;
    } 

    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.5s;
    } 

    
    .menu-btn span::before {transform: translateY(-5px);} 
    .menu-btn span::after {transform: translateY(5px);} 

    .menu-btn-active span:before {transform: rotate(-45deg);}
    .menu-btn-active span:after {transform: rotate(45deg);}
    .menu-btn-active span {height: 0px;} /* Улетает за блок */

    
    .content-active {transform: translateX(30%);}

}

